# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.LuckyToss.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Unity\Projects\LuckyToss\.idea\.idea.LuckyToss\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
